<!-- orders/change_password.html -->
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зміна пароля</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'orders/style.css' %}">
</head>
<body>
<div class="container">
    <h2>Зміна пароля</h2>

    <!-- Форма для зміни пароля -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-submit">Змінити пароль</button>
    </form>

    <!-- Посилання на редагування профілю -->
    <a href="{% url 'edit_profile' %}" class="btn">Редагувати профіль</a>
</div>
</body>
</html>