<!-- orders/edit_profile.html -->
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редагування профілю</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'orders/style.css' %}">
    <style>
        /* Стиль для прихованої форми зміни пароля */
        #password-form {
            display: none;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Редагувати профіль</h2>

    <!-- Форма для редагування профілю -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-submit" id="save-button" disabled>Зберегти</button>
    </form>

    <!-- Кнопка для показу форми зміни пароля -->
    <button class="btn" id="show-password-form">Змінити пароль</button>

    <!-- Форма для зміни пароля, спочатку прихована -->
    <div id="password-form">
        <h3>Зміна пароля</h3>
        <form method="post" action="{% url 'change_password' %}">
            {% csrf_token %}
            {{ password_form.as_p }}
            <button type="submit" class="btn-submit">Змінити пароль</button>
        </form>
    </div>
</div>

<script>
    const formElements = document.querySelectorAll('input');
    const saveButton = document.getElementById('save-button');

    formElements.forEach(element => {
        element.addEventListener('input', function() {
            saveButton.disabled = false;
            saveButton.style.backgroundColor = '#4CAF50'; // Зелений колір
        });
    });

    const passwordForm = document.getElementById('password-form');
    const showPasswordFormButton = document.getElementById('show-password-form');

    showPasswordFormButton.addEventListener('click', function() {
        if (passwordForm.style.display === 'none') {
            passwordForm.style.display = 'block';  // Показуємо форму
        } else {
            passwordForm.style.display = 'none';  // Приховуємо форму, якщо вона вже відкрита
        }
    });
</script>
</body>
</html>